body {
  background-color: #e6dfdf;
  color: #000;
  margin: 0; /* keeps your items stacked vertically */
  text-align: center;
  font-family: sans-serif;  
  padding: 2rem;  /* keeps text centered too */
}

.full-line {
  width: 100%;
  border: 2px solid #000;
}

#title {
  font-size: 3rem;
  margin-bottom: 0%;
}

#pronunciation {
  font-style: italic;
  font-size: 0.8em;
  color: #000000;
}

#pronounce-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.85em; /* smaller icon size */
  color: #000000;
  padding: 0;
}
