body {
  background-color: #e6dfdf;
  color: #000;
  margin: 0; /* keeps your items stacked vertically */
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  padding: 2rem;  /* keeps text centered too */
}

.full-line {
  width: 100%;
  border: 2px solid #000;
}

#title {
  font-size: 3rem;
  margin-bottom: 0%;
}

#pronunciation {
  font-style: italic;
  font-size: 0.8em;
  color: #000000;
}

#pronounce-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.85em; /* smaller icon size */
  color: #000000;
  padding-bottom: 15px;
}

#image {
  width: 100px; /* adjust size as needed */
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 5px;
}

.circle-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FFFFE3;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
  margin: 5px;
  }

 .icon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}


#projects {
    list-style-type: none;
}
